::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

#app {
  text-align: center;
}
#mainIsland {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#query {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: inherit;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.main {
  padding: 0.25rem;
  flex-grow: 1;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
}

.formTree {
  width: 100%;
  max-width: 28rem;
}

.formTree form {
  background-color: var(--smol-surface);
  padding: 3rem;
  gap: 0.75rem;
  border-radius: 0.25rem;
}

.shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 0.75rem;
  max-width: 1400px;
  width: 100%;
  margin: 3rem auto;
}

.show {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: var(--smol-box-shadow);
  background: var(--smol-surface);
}

.show img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}

.show h2 {
  z-index: 2;
  background: rgb(22, 22, 36, 1);
  color: var(--smol-tree);
  margin: 0.5rem 0 0 0;
  padding: 0.15rem 0.5rem;
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: "Comic Sans MS", cursive;
  font-weight: 600;
  background-color: rgb(24, 24, 37);
  line-height: 1.1;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  text-shadow: 0 1px 2px black;
  z-index: 3;
  color: var(--smol-ocean);
  padding: 0.64rem 0.34rem;
}

.show > .summary {
  z-index: 1;
  position: absolute;
  top: 12.5%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-top: 16.45rem;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 82.5%,
    rgba(0, 0, 0, 0.85) 87.5%,
    rgba(0, 0, 0, 0) 90%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 82.5%,
    rgba(0, 0, 0, 0.85) 87.5%,
    rgba(0, 0, 0, 0) 90%
  );
}

.show > .summary p {
  flex-grow: 1;
  margin: 0;
  padding: 0 0.35rem 2.5rem 0.35rem;
  font-family: monospace;
  font-size: 0.96rem;
  font-weight: 800;
  line-height: 1.15;
  text-shadow: 0 1px 2px black;
  overflow-y: visible;
}

.submitBtn {
  width: 100%;
  padding: 1rem 0;
}
