#app {
  text-align: center;
}

.header {
  width: 100%;
}

.main {
  padding: 0.75rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTree form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  background-color: var(--smol-surface);
  padding: 2rem;
}
