:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: 100%;
  line-height: 1.1;
  font-weight: 400;
  color: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(30, 30, 46);
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 1px 2px 4px rgba(22, 22, 22, 0.9);
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

header {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1280px;
  background-color: rgb(44, 44, 76);
}

footer {
  padding: 2rem 1rem;
}

hr {
  border: none;
  border-top: 1px solid navajowhite;
  margin-bottom: 0.5rem;
  width: 100%;
}
